html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    color: #222;
    background-color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-weight: bold;
    font-size: 10pt;
}

img {
    max-width: 100%;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: blue;
    color: white;
    height: 56px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    align-items: center;
    z-index: 10000;
}

#content {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    align-content: stretch;
}

#map {
    flex: 1 1 70%;
}

#notmap {
    min-width: 300px;
    max-width: 440px;
    border-right: 1px solid #aaa;
    flex: 1 1 30%;
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#mynav {
    font-family: Arial, sans-serif;
    font-weight: normal;
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}







#crumby {
    display: flex;
    align-items: center;
    padding: .2em 0;
}

#scriptures {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;

}

#scripnav1, #scripnav2 { 
    position: absolute;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.crumb {
    height: 1em;
    padding-left: .4em;
    padding-right: .4em;
}

#centerhead {
    display: flex;
    flex: 1;
    justify-content: center;
    font-weight: normal;
    text-align: center;
    flex-direction: column;
}

div.title {
    display: block;
    font-size: larger;
    font-weight: bolder;
}

div.subtitle {
    display: block;
    font-size: smaller;
}

#about {
    align-self: center;
    padding: .5em;
}

#breadcrumbs {
    white-space: nowrap;
    padding-top: 1em;
    justify-content: left;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#prevnext {
    padding-bottom: .8em;
    justify-content: right;
    text-align: center;

}


.volume {
    padding: .5em;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

div.books {
    display: grid;
    grid-template-columns: repeat(auto-fill, 80px);
    justify-content: space-evenly;
    grid-gap: .25em;
    padding: 0 .3em;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

div.books::after {
    content: '';
    flex: auto;
}

div.books a {
    flex: 0 0 7em;
    font-weight: normal;
    margin: .4em;
    padding: .2em .5em;
    background-color: #fff;
    text-align: center;
}

div.books a.chapter {
    flex: 0 0 4em;
}

.volume h5 {
    font-size: 1.24rem;
    margin: 0.72rem 0 0.556rem 0;
}

.books li {
    flex: 0 0 5.4em;
    align-content: center;
    list-style: none;
    height: 24px;
    min-width: 5em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: .5em .5em 0 .5em;
    margin: 0;
    color: rgb(0, 0, 0);
    font-size: 11pt;
    font-weight: normal;
    text-shadow: 2px 0px 2px rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border: solid 5px;
}

div.text {
    padding: 1em;
    font-weight: normal;
    font-size: 12pt;
}

.scripturewrapper {
    position: absolute;
    min-height: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12pt;
    font-weight: normal;
    background-color: white;
    /* padding-bottom: 3rem; */
}
.scripturecontent {
    max-height: 48vh;
}

div.chapterheading {
    font-size: 14pt;
    font-weight: bold;
    padding: .5em;
    text-align: center;
}

div.chapterheading b.big {
    font-size: 140%;
}

div.navheading {
    font-size: 13pt;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#scriptures ul.versesblock {
    margin: 0;
    line-height: auto;
    list-style: none;
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 13pt;
}

ul.versesblock li {
    position: relative;
    display: block;
    margin-bottom: .3em;
}

ul.versesblock li.sectionHeader {
    font-style: italic;
}

span.verse {
    padding-left: .4em;
    padding-right: .3em;
}

.scripturewrapper li a:link, .scripturewrapper li a:visited, .scripturewrapper li a:active {
    /* color: #44b; */
    text-decoration: none;
}

.scripturewrapper li a:hover {
    color: #4488ff;
    text-decoration: underline;
}

li.match {
    background-color: #ffffcc;
}


#crumby {
    color: rgb(37,90,195);
}
#mynav .crumbLink {
    color: rgb(46,112,244);
}
#crumby a:hover {
    text-decoration: none;
}
#mynav .crumbLink:hover {
    color: rgb(37,90,195);
    text-decoration: underline;
}

@media all and (max-width: 600px) {
    #header {
        display: none;
    }
    #content {
        top: 0;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 10px 10px 0 rgba(0,0,0,0.16),0 5px 10px 0 rgba(0,0,0,0.12);
    }
    #notmap {
        min-height: 50%;
        min-width: 100%;
        flex-direction: row;
        background-color: white;
        border-right: none;
    }
    #mynav {
        flex: 1 1 25%;
        border-right: 1px solid rgb(236,226,217);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 160px;
    }
    #breadcrumbs {
        flex-direction: column;
        align-items: flex-start;
    }
    #scriptures {
        flex: 1 1 75%;
        border-bottom: 1em solid white;
        border-top: 1em solid white;
    }
    #scriptures ul.versesblock {
        font-size: 11.5pt;
    }
    #map {
        min-width: 100%;
        max-width: 95%;
        min-height: 50%;
    }
}

a:link, a:visited, a:active {
    color: rgb(46,112,244);
    text-decoration: none;
}

a:hover {
    color: rgb(37,90,195);
    text-decoration: underline;
}


@media all and (min-width: 1300px) {
    #notmap {
        flex-direction: row;
        background-color: white;
        flex: 1 1 40%;
        min-width: 500px;
    }
    #mynav {
        flex: 1 1 25%;
        border-right: 1px solid rgb(236,226,217);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 160px;
    }
    #breadcrumbs {
        flex-direction: column;
        align-items: flex-start;
    }
    #scriptures {
        flex: 3 1 75%;
        border-bottom: 1em solid white;
        border-top: 1em solid white;
    }
    #scriptures ul.versesblock {
        font-size: 11.5pt;
    }
    #map {
    }
}